html[data-theme='dark'] {
  --text-color-normal: #e1e1e1;
  --background-color-normal: #121212;
  --link-normal: #d9d9d9;
  --link-visited-normal:#d0d0d0;
  --footer-color-normal: #0a0a0a;
}

html{
  --text-color-normal: #000;
  --background-color-normal: var(--background-color-normal);
  --link-normal: #454545;
  --link-visited-normal:#353535;
  --footer-color-normal: #ececec;

}

a:link {
    color: var(--link-normal);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    position: relative;
    margin: 0;
    height: auto;
    min-height: 100%;
    line-height: 1.6;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next", avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans", roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans", sans-serif;
    font-size: 18px;
    color: var(--text-color-normal);
    padding: 0 10px 8rem;
    background-color: var(--background-color-normal); 
}

h1,
h2,
h3 {
    line-height: 1.2;
}

#containter {
    height: 10%;
    display: flex;
    align-items: center;
}

a:visited {
    color: var(--link-visited-normal);
    text-decoration: none;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

.content {
    margin: 0 auto;
    padding-top: 2%;
    max-width: 640px;
    width: 94%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center:hover {
    -ms-transform: scale(1.1);  /* IE 9 */
    -webkit-transform: scale(1.1);  /* Chrome, Safari, Opera */
    transform: scale(1.1); 
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--footer-color-normal);
    text-align: center;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    outline-style: none;
}

button::-moz-focus-inner {
    border: 0;
}

.btn {
  background: #1db954 !important;
  background-image: -webkit-linear-gradient(top, #1db954, #1db954) !important;
  background-image: -moz-linear-gradient(top, #1db954, #1db954) !important;
  background-image: -ms-linear-gradient(top, #1db954, #1db954) !important;
  background-image: -o-linear-gradient(top, #1db954, #1db954) !important;
  background-image: linear-gradient(to bottom, #1db954, #1db954) !important;
  -webkit-border-radius: 28 !important;
  -moz-border-radius: 28 !important;
  border-radius: 28px !important;
  font-family: Arial !important;
  color: var(--background-color-normal)fff !important;
  font-size: 20px !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
}

.btn:hover {
  background: #3cb0fd !important;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db) !important;
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db) !important;
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db) !important;
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db) !important;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db) !important;
  text-decoration: none !important;
}
.form-container {
   border: 1px solid var(--background-color-normal)fff;
   background: var(--background-color-normal)fff;
   background: -webkit-gradient(linear, left top, left bottom, from(var(--background-color-normal)fff), to(var(--background-color-normal)fff));
   background: -webkit-linear-gradient(top, var(--background-color-normal)fff, var(--background-color-normal)fff);
   background: -moz-linear-gradient(top, var(--background-color-normal)fff, var(--background-color-normal)fff);
   background: -ms-linear-gradient(top, var(--background-color-normal)fff, var(--background-color-normal)fff);
   background: -o-linear-gradient(top, var(--background-color-normal)fff, var(--background-color-normal)fff);
   background-image: -ms-linear-gradient(top, var(--background-color-normal)fff 0%, var(--background-color-normal)fff 100%);
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   display: block;
   margin-left: auto;
   margin-right: auto;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
   }
.form-field {
   border: 1px solid var(--text-color-normal);
   background: var(--background-color-normal)fff;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: var(--text-color-normal);
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: var(--background-color-normal);
   color: #3dff6a;
   }
.form-container h2 {
   text-shadow: #ffecd4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: var(--text-color-normal);
   text-shadow: #ffecd4 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:center;
   }
.submit-button {
   border: 2px solid #447314;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #31540c;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 2px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: var(--background-color-normal);
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 2px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: var(--background-color-normal);
   }


#menu-bar{
    display: inline;
}
/*form {
    display: inline;
}*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#Spotify {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Spotify td, #Spotify th {
    border: 1px solid #ddd;
    padding: 8px;
}

#Spotify tr:nth-child(even){background-color: #f2f2f2;}

#Spotify tr:hover {background-color: #ddd;}

#Spotify th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1db954;
    color: white;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

