html[data-theme="dark"] {
  --text-color-normal: #e1e1e1;
  --background-color-normal: #121212;
  --link-normal: #70c6ff;
  --link-visited-normal: #bd8cd2;
  --footer-color-normal: #0a0a0a;
  --blog-background: #101010;
  --blog-shadow: rgba(255, 255, 255, 0.1);
}

html {
  --text-color-normal: #000;
  --background-color-normal: #f9f9fa;
  --link-normal: #00568f;
  --link-visited-normal: #694d75;
  --footer-color-normal: #ececec;
  --blog-background: #fffffe;
  --blog-shadow: rgba(12, 12, 13, 0.1);
}

a:link {
  color: var(--link-normal);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.toggleDark {
  cursor: pointer;
}

body {
  position: relative;
  margin: 0;
  height: auto;
  min-height: 100%;
  line-height: 1.6;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",
    roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu,
    "franklin gothic medium", "century gothic", "Liberation Sans", sans-serif;
  font-size: 18px;
  color: var(--text-color-normal);
  padding: 0 10px 8rem;
  background-color: var(--background-color-normal);
  transition: background-color 0.3s, color 0.3s;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

h2 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

h3 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

#containter {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-container {
  background: var(--blog-background);
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 var(--blog-shadow);
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 24px auto;
  /* width: 20rem; */
  position: relative;
}
.blog-container:hover {
  box-shadow: 0 0 0 2.5px #d7d7db;
  cursor: pointer;
  transition: box-shadow 200ms;
}
.blog-summary p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.blog-body {
  margin: 0 auto;
  width: 90%;
}

.blog-container:hover .blog-title h1 a {
  color: var(--link-normal);
}
.blog-title h1 a {
  color: var(--text-color-normal);
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 1rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.blog-title h1 {
  margin-bottom: 1rem;
  padding-bottom: 0px;
  padding-top: 1em;
  line-height: 0.8;
}

.blog-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.blog-footer {
  margin: 0 auto;
  padding-bottom: 0.5rem;
  width: 90%;
}
.blog-footer ul {
  list-style: none;
  display: flex;
  flex: row wrap;
  justify-content: flex-end;
  padding-left: 0;
}

.blog-footer li + li {
  margin-left: 0.5rem;
}
.blog-footer li {
  font-size: 0.75rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}

.type {
  margin-right: auto;
}
.lang {
  border-radius: 3px;
  padding: 0 0.5rem;
  font-weight: 100;
}
.cpp {
  background-color: #6891d5 !important;
  color: #fff !important;
}

.advent{
  background-color: #B3000C !important;
  color: #fff !important;
}

.python {
  background-color: #FFDF76 !important;
  color: #000 !important;
}
.azure {
  background-color: #3177B0 !important;
  color: #fff !important;
}
.mxchip {
  background-color: #6330AA !important;
  color: #fff !important;
}
.shell {
  background-color: #89e051 !important;
  color: #000 !important;
}
.html {
  background-color: #e44d26 !important;
  color: #fff !important;
}
.css {
  background-color: #563d7c !important;
  color: #fff !important;
}
.js {
  background-color: #f1e05a !important;
  color: #000 !important;
}
.typescript {
  background-color: #0076c6 !important;
  color: #fff !important;
}

#logo {
  border-radius: 50%;
  vertical-align: middle;
  width: 12.5%;
}
#header {
  margin-bottom: 1rem;
}
#title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
#title p {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}
#title p {
  color: var(--text-color-normal);
}

#copyright {
  color: var(--footer-color-normal);
  filter: invert(1);
  font-size: 0.75em;
  margin-bottom: 0px;
}

a:visited {
  color: var(--link-visited-normal);
  text-decoration: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

.thumbnail {
  width: 100%;
}
.content {
  margin: 0 auto;
  padding-top: 2%;
  max-width: 640px;
  width: 94%;
}

.center { 
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--footer-color-normal);
  text-align: center;
  transition: background-color 0.3s;
}
.footer a {
  color: var(--text-color-normal);
}
/* button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  outline-style: none;
} */

button::-moz-focus-inner {
  border: 0;
}

#menu-bar {
  display: inline;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 2px;
}

.column img {
  margin-top: 4px;
  vertical-align: middle;
}
nav {
  line-height: 2rem;
}
nav a {
  color: #252525;
}
.toggle,
[id^="drop"] {
  display: none;
}
/* Giving a background-color to the nav container. */

nav {
  margin: 0;
  padding: 0;
  background-color: unset;
}
/* Since we'll have the "ul li" "float:left"
* we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}
/* Removing padding, margin and "list-style" from the "ul",
* and adding "position:reltive" */

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
}
/* Styling the links */

nav a {
  display: block;
  padding-left: 1rem;
  color: #252525;
  font-size: 1rem;
  text-decoration: none;
  outline: none;
}
nav ul li ul li:hover {
  text-decoration: underline;
}
/* Background color change on Hover */

nav a:hover {
  text-decoration: underline;
}
/* Hide Dropdowns by Default
* and giving it a position of absolute */

nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 2.8rem;
}
/* Display Dropdowns on Hover */

nav ul li:hover > ul {
  display: inherit;
}
/* Fisrt Tier Dropdown */

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}
/* Second, Third and more Tiers	
* We move the 2nd and 3rd etc tier dropdowns to the left
* by the amount of the width of the first tier.
*/

nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}
/* Change ' +' in order to change the Dropdown symbol */

li > a:after {
  content: " +";
}
li > a:only-child:after {
  content: "";
}

.menu li a {
  color: var(--text-color-normal);
}

.burger {
  display: none;
  justify-content: flex-end;
  vertical-align: middle;
  float: right;
  cursor: pointer;
  margin-top: 1.7rem;
  margin-left: 1.5rem;
}
.burger div {
  width: 35px;
  height: 5px;
  background-color: var(--text-color-normal);
  margin: 6px 0;
}

#burger ul li {
  display: block;
  width: 100%;
  visibility: hidden;
  height: 0px;
  opacity: 0;
  transition: height 0.5s;
}
#burger ul li a {
  color: var(--text-color-normal);
}
@keyframes open {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 32px;
  }
}

.imageBox picture{
  width:100% !important;
}

.imageCaptionBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 640px;
  margin: 0px;
}

.imageCaptionBox picture {
  width: 50%;
}

.imageCaptionBox img {
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  width: 100%;
}

.imageCaptionBox figcaption {
  margin: 1rem;
  max-width: 255px;
}

.codeSnippet {
  background-color: var(--blog-shadow);
  position: relative;
  border-radius: 0.25rem;
  margin: 1rem 0 1rem 0;
}
.codeSnippet pre {
  overflow: auto;
  margin: 0;
  padding: 0.5em;
}

.codeSnippet:hover > .double-val-label {
  opacity: 1;
}

html[data-theme="dark"] .codeSnippet {
  filter: invert(1);
}

.double-val-label {
  position: absolute;
  display: table;
  font-family: "Roboto", sans-serif;
  margin: 0.4em;
  top: 2%;
  right: 20px;
  opacity: 0;
  transition: all 0.3s;
}
.double-val-label > span {
  background-color: #656565;
  color: #ffffff;
  display: table-cell;
  font-size: 0.7em;
  font-weight: 400;
  line-height: 1;
  padding: 0.3em 0.6em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

html[data-theme="dark"] .double-val-label > span {
  filter: invert(1);
}

.double-val-label > span:first-child {
  border-bottom-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
}
.double-val-label > span:last-child {
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
  cursor: pointer;
}

.double-val-label > span.primary {
  background-color: #337ab7;
}

.blogPost p {
  text-align: justify;
  text-justify: inter-word;
}

.blogPost video {
  display: block;
  margin: auto;
}
.blogPost h1 {
  margin-bottom: 0px;
}
.blogPost #readingTime p {
  margin-top: 0px;
  display: inline-block;
}

.blogPost a h2 {
  color: var(--text-color-normal);
  text-decoration: none;
}

.anchor:hover {
  text-decoration: none;
}

.blogPost h2 {
  color: var(--text-color-normal);
  padding-bottom: 0.25em;
  border-bottom: 1px solid #eaecef;
}
.blogPost h2:first-of-type {
  margin-top: 0em;
}

.blogPost h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.blogPost h2:hover::after {
  content: "  ⚓";
}

.blogPost h2:hover {
  cursor: pointer;
}

table {
  /* width: 100%; */
  display: inline-block;
  text-align: left;
  font-size: 12px;
}

table,
th {
  border-bottom: 1px solid #eaecef;
  text-align: left;
}

table tr th:nth-child(2),
table tr th:nth-child(3) {
  text-align: right;
}

table tr td:nth-child(2),
table tr td:nth-child(3) {
  text-align: right;
}

#tableHolder {
  display: flex;
  justify-content: space-around;
}

#wireImage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#wireImage figcaption {
  padding: 0.25em;
  text-align: center;
}

#filesFlex {
  display: flex;
}

.download {
  display: inline-block;
}

.download p,
small {
  display: inline;
}

#ttt_grid{
  --player-one: #117AA7;
  --player-two: #f64740;
  --indicate: rgb(162, 155, 254);
  --indicate-pulse: rgba(162, 155, 254, 0.7);
  --grid-colour: #555;
}


#ttt_grid {
  width: 100%;
  height: 640px;
  display: none;
  pointer-events: none;
}

#ttt_title{
    margin-bottom: 0;
}
#ttt_players {
    display: none;
    margin-top: 0;
}

#ttt_players h3{
    display: inline-block;
}

#ttt_gameid{
    display: none;
}
#ttt_code{
    width: auto;
}

#ttt_buttons{
    display: none;
}
#ttt_buttons button{
    margin-left: 0.25rem;
    margin-right: 0.25rem;

}

#ttt_playersturn{
  display: none;
}
#ttt_player1{
  width: 100%;
    display: none;
}

#ttt_player2{
  width: 100%;
    display: none;
}
.ttt_square {
  width: 33%;
  height: 33%;
  float: left;
  pointer-events: none;
}

.ttt_small.middle {
  border-left: 1px solid var(--grid-colour);
  border-right: 1px solid var(--grid-colour);
}

.ttt_small.mid {
  border-top: 1px solid var(--grid-colour);
  border-bottom: 1px solid var(--grid-colour);
}

.ttt_big.middle {
  border-left: 3px solid var(--grid-colour);
  border-right: 3px solid var(--grid-colour);
}

.ttt_big.mid {
  border-top: 3px solid var(--grid-colour);
  border-bottom: 3px solid var(--grid-colour);
}

.ttt_small_grid {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10%;
}
.ttt_small {
  width: 33%;
  height: 33%;
  float: left;
  position: relative;
  cursor: pointer
}

.ttt_indicate::before{
    position: absolute;
    background-color: var(--indicate);
    width: 90%;
    height: 90%;
    content: "";
    margin: 5%;
    border-radius: 5px;
    left: 0;
    top: 0;
    transform: scale(1);
    animation: swashIn 0.25s ease-in-out forwards, pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 var(--indicate-pulse)
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.ttt_small.p1::before{
    position: absolute;
    background-color: var(--player-one);
    width: 85%;
    height: 85%;
    content: "";
    margin: 7.5%;
    border-radius: 5px;
    animation: swashIn 0.25s ease-in-out forwards;
}
#ttt_new_options{
    display: none;
    width: 100%;
}
.ttt_small.p2::before{
    position: absolute;
    background-color: var(--player-two);
    width: 85%;
    height: 85%;
    content: "";
    margin: 7.5%;
    border-radius: 5px;
    animation: swashIn 0.25s ease-in-out forwards;


}


.ttt_small.p2:hover::before, .ttt_small.p2:focus::before {
  animation: swashIn 0.25s ease-in-out forwards;
}
.ttt_small.p1:hover::before, .ttt_small.p1:focus::before {
  animation: swashIn 0.25s ease-in-out forwards;
}
.ttt_small_grid.p1::before{
    position: absolute;
    background-color: var(--player-one);
    width: 85%;
    height: 85%;
    content: "";
    margin: 7.5%;
    border-radius: 5px;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.6;
}
.ttt_small_grid.p2::before{
    position: absolute;
    background-color: var(--player-two);
    width: 85%;
    height: 85%;
    content: "";
    margin: 7.5%;
    border-radius: 5px;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.6;
}

  
#workCardContainer .blog-container {
  opacity: 0;
}

#workCardContainer .blog-container:nth-of-type(n) {
  --index: 0;
  animation: 0.4s ease-in-out 0s 1 slideInFromLeft forwards;
  animation-delay: calc(200ms * var(--index));
}
/* .workCardContainer:nth-child(1){
    animation-delay: 1s;
} */


h1>input[type="text"]{
    background-color: var(--background-color-normal);
    width: 10ch;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-decoration: underline;
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swashIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }

  90% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}


/* 
#blogHR{
    z-index: -1;
} */
@media all and (max-width: 530px) {
  /* [id^=drop]:checked+#menu ul li{
        animation-name: open;
        visibility: visible;
        animation-duration: 0.4s;
        height: 32px;
        opacity: 1;
    } */
  [id^="drop"]:checked + ul#burger_menu li {
    animation-name: open;
    animation-fill-mode: both;
    visibility: visible;
    animation-duration: 0.5s;
    height: 32px;
    /* opacity: 1; */
  }
  .burger {
    display: block;
  }
  #normalMenu {
    display: none;
  }

  #burger ul li:nth-child(1) {
    animation-delay: 0s;
  }
  #burger ul li:nth-child(2) {
    animation-delay: 0.05s;
  }
  #burger ul li:nth-child(3) {
    animation-delay: 0.1s;
  }
  #burger ul li:nth-child(4) {
    animation-delay: 0.15s;
  }
  #burger ul li:nth-child(5) {
    animation-delay: 0.2s;
  }
}
